@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .left-side {
        min-width: unset;
        width: 100%;
    }

    .right-side {
        min-width: unset;
        width: 100%;
        order: -1; // Show map first on mobile
    }

    .one-row-container .text-content-container {
        min-width: unset;
        width: 100%;
    }

    .divider {
        height: 1px;
        width: 100%;
        background: var(--red-to-pink-to-purple-horizontal-gradient);
        margin-block: 1.5rem;
    }
}

:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    margin: 0;
    color: var(--gray-700);
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.link-button {
    margin-left: 8px;
    font-size: 16px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 3rem;
}

.left-side {
    flex: 0 0 auto;
    min-width: 500px;
}

.right-side {
    flex: 1 1 auto;
    min-width: 600px;
}

.content h1 {
    margin-top: 1.75rem;
}

.content p {
    margin-top: 1.5rem;
}

// Container for one row in the table
.one-row-container {
    margin-bottom: 4px;
    display: flex;
    justify-content: left;
    align-items: center;

    .text-content-container {
        border: 2px solid lightgrey;
        border-radius: 12px;
        min-width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;

        .left-side-content {
            margin-left: 8px;
            display: inline-block;
            min-width: 250px;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .right-side-content {
            margin-right: 8px;
        }
    }
}
