<main class="main">
    <div class="content">
        <div class="left-side">
            <h1>{{ title }}</h1>

            @for (item of identifiedChargePoints; track item.id) {
            <div>
                <span>{{ item.title }}</span>
                <span>, </span>
                <span>{{ item.city }}</span>

                <button
                    class="link-button"
                    mat-mini-fab
                    matTooltip="Open the place in Google maps"
                    color="primare"
                >
                    <a
                        [href]="
                            'https://www.google.com/maps/place/' +
                            item.mapCoordinates
                        "
                        target="_blank"
                        rel="noopener"
                    >
                        <mat-icon>map</mat-icon>
                    </a>
                </button>
            </div>
            } @empty {
            <p>Oh, snap! There are no charge points for the selected region!</p>
            }
        </div>
    </div>
</main>

<router-outlet />
