<div class="map-container">
    <div class="search-container">
        <div class="search-box">
            <input type="text"
                   [(ngModel)]="searchQuery"
                   (keyup.enter)="searchLocation()"
                   placeholder="Sök ort..."
                   class="search-input">
            <button (click)="searchLocation()" class="search-btn" [disabled]="isSearching" title="Sök">
                @if (!isSearching) {
                    <mat-icon>search</mat-icon>
                } @else {
                    <mat-icon class="spinner">refresh</mat-icon>
                }
            </button>
        </div>
    </div>
    <div class="map-controls">
        <button class="location-btn" (click)="showUserLocation()" title="Visa min position">
            <mat-icon>my_location</mat-icon> Min position
        </button>
        <div class="map-legend">
            <div class="legend-item">
                <mat-icon class="legend-icon green">location_on</mat-icon>
                <span class="legend-text">&gt;50 kW</span>
            </div>
            <div class="legend-item">
                <mat-icon class="legend-icon yellow">location_on</mat-icon>
                <span class="legend-text">22-50 kW</span>
            </div>
            <div class="legend-item">
                <mat-icon class="legend-icon red">location_on</mat-icon>
                <span class="legend-text">&lt;22 kW</span>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>
