# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and deploy to Github Pages
# name: Publish to Pages
#
# on:
#     push:
#         branches:
#             - main
#             - master

# jobs:
#     deploy:
#         runs-on: ubuntu-latest
#         permissions:
#             contents: write
#         steps:
#             - name: Checkout
#               uses: actions/checkout@v4

#             - name: Setup Node.js
#               uses: actions/setup-node@v3
#               with:
#                   node-version: "20"

#             - name: Install dependencies
#               run: npm install
#             - name: Build
#               run: npm run build

#             - name: Deploy
#               if: success()
#               uses: peaceiris/actions-gh-pages@v4
#               with:
#                   github_token: ${{ secrets.GITHUB_TOKEN }}
#                   publish_dir: dist/charge-ev-with-caravan/browser
#                   enable_jekyll: false
